$color-header: #FFFFFF;
$color-aside-background: #202020;
$color-line-active: #1BFEC0;
$color-line-inactive: #F9F9FB;
$color-dropdown-arrow: #2F3030;
$color-border-input: #DADAED;
$color-border-input-checked: #1BFEC0;
$color-border-focus: #652AE6;
$color-button-submit-background-first: #8658EB;
$color-button-submit-background-second: #652AE6;
$color-button-submit-text: #FFFFFF;
$color-button-submit-box-shadow-big: rgba(32, 31, 54, 0.15);
$color-button-submit-box-shadow-small: rgba(13, 13, 31, 0.08);

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');