$color-header: #FFFFFF;
$color-aside-background: #202020;
$color-line-active: #1BFEC0;
$color-line-inactive: #F9F9FB;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');